* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
.padre{
  display: flex;
  justify-content: center;
  align-items:center ;
  margin-top: 5%;
}
.hijo{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6rem;
  background-color: rgb(188, 253, 154);
  box-shadow: 3px 3px 3px 3px rgb(124, 124, 124);
  border-radius: 8px;
}


.eliminar-btn {
  background-image: url('/public/deleteicon.png');
  background-repeat: no-repeat; 
  background-size: contain; 
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
